*{
	margin:0;
	padding: 0;
	top:0;
	left:0;
	box-sizing: border-box;
}
body{
	padding-top: 70px;
}

header{
	background: #131c2b;
	color: white;
}

#navbar-header{
	position: fixed;
	top:0;
	width: 100%;
}

nav > ul{
	display: flex;
	justify-content: flex-end;
}

nav > ul > li{
	list-style: none;
	display: block;
	font-weight: bold;
	font-size: 25px;
	padding: 25px;
}

nav > ul > li > a{
	text-decoration: none;
	color:white;
}

nav > ul > li:hover{
	background: #050102;
	font-size: 30px;
	padding:30px;
}


#welcome-section{
	width: 100vw;
	height:500px;
	background: #f05656;
	display: flex;
	justify-content: center;
}

#welcome-section > div{
	margin:auto;

	
}


.dp > img{
	border: 3px solid black;
	padding:1px;
	border-radius: 45%;
}


.intro{
	padding: 20px;
	text-align: center;
}

.intro > h1{
	font-size: 60px;
	font-weight: bold;
}

.intro > p{
	font-size: 30px;
}


#projects{
	background: #131c2b;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: :30px;
	grid-row-gap: 60px;
	margin:auto;
}

#projects > div{
	display: block;
	margin:auto;
	padding: auto;
	
}

#projects > div > a{
	display: block;
	margin: auto;
	padding: 40px;
}

#projects > div > a > img{
	border:1px solid white;
}

.project-tile > h2{
	text-align: center;
	color: white;
}


.project-header{
	background: #241c1c;
	color:white;
	font-size: 24px;
	padding: 50px;
	text-align: center;
}

.balance{
	background: #131c2b;
	height: 100px;
}

#profile{
	background: #f05656;
}

#profile-link{
	
	display: flex;
	justify-content: center;
}

#profile-link > a{
	margin:20px;
	display: block;
	padding: 20px;
}

#profile-link > a > img{

	border-radius: 50%;
}

#profile-desc{
	text-align: center;
	color:black;
}

#profile-desc > h1{
	font-size: 70px;
}

#profile-desc > h3{
	font-size: 25px;
}


footer{
	height:100px;
	background: #131c2b;
	color:white;
	text-align: center;
	margin:auto;
	font-size: 20px;
}

footer > span{
	color:#fc0339;
}